<div class="positionLogo">
    <img class="logoPic" src="https://i.imgur.com/NDYcSJP.png">
    <a href="/trainers"><img class="homeButton" src="https://i.imgur.com/5dicAEq.png"/></a>
</div>

<div class="createForm">
    <form action='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon/{{pokemon._id}}' method='POST'>
        <h1>Edit Pokemon</h1><br>
        Name:<br>
        <input type='text' name='name' value="{{pokemon.name}}"><br>
        Type:<br>
        <input type='text' name='type' value="{{pokemon.type}}"><br>
        Move One:<br>
        <input type='text' name='moveOne' value="{{pokemon.moveOne}}"><br>
        Move Two:<br>
        <input type='text' name='moveTwo' value="{{pokemon.moveTwo}}"><br>
        Move Three:<br>
        <input type='text' name='moveThree' value="{{pokemon.moveThree}}"><br>
        Move Four:<br>
        <input type='text' name='moveFour' value="{{pokemon.moveFour}}"><br>
        PokeDex #:<br>
        <input type='text' name='dexNumber' value="{{pokemon.dexNumber}}"><br>
        Image Url:<br>
        <input type="text" name="imgUrl" value="{{pokemon.imgUrl}}"><br><br>
        <div><input type='submit' value='Edit Pokemon'></div>
    </form>
</div>

<div><img class="editPokePic" src="{{pokemon.imgUrl}}"/></div>