<h1>All Pokemon</h1> <a href='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon/new'>( new )</a>

<div class= "pokemonRow">
    {{#each pokemon}}
        <a href='/trainers/{{../trainerId}}/teams/{{../teamId}}/pokemon/{{this._id}}'><img class="pokemonPics" src="{{this.imgUrl}}"></a>
    {{/each}}
</div>