{{!-- <h1>All Pokemon</h1> <a href='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon/new'>( new )</a> --}}

<div class="pokemonRowBackdrop"><img src='https://i.imgur.com/R6458d9.png'/></div>

<div class= "pokemonRow">
    {{#each pokemon}}
        <a href='/trainers/{{../trainerId}}/teams/{{../teamId}}/pokemon/{{this._id}}'><img class="pokemonPics" src="{{this.imgUrl}}"></a>
    {{/each}}
</div>