<br><br><br><br><br><br><br><br><br><br><br><br>

<h1>{{pokemon.name}}</h1>

<div><img src="{{pokemon.imgUrl}}"></div>
<div>Type: {{pokemon.type}}</div>
<div>Moves: {{pokemon.moves}}</div>

<form action='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon/{{pokemon._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Pokemon'>
</form>
<a href='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon/{{pokemon._id}}edit'>Edit Pokemon</a>
<a href='/trainers/{{trainerId}}/teams/{{teamId}}/pokemon'>Go Back to Pokemon</a>