<div class="positionLogo">
    <img class="logoPic" src="https://i.imgur.com/NDYcSJP.png">
    <a href="/trainers"><img class="homeButton" src="https://i.imgur.com/5dicAEq.png"/></a>
</div>

<div class="createForm">
    <form action='/trainers/{{trainer._id}}/teams/{{team._id}}?_method=PUT' method='POST'>
        <h1>Edit Team</h1><br>
        Team Name:<br>
        <input type='text' name='name' value="{{team.name}}"><br>
        Style:<br>
        <input type='text' name='style' value="{{team.style}}"><br>
        Image Url:<br>
        <input type="text" name="imgUrl" value="{{team.imgUrl}}"><br><br>
        <div><input type='submit' value='Update Team'></div>
    </form>
</div>

<div class="badgeIcons">
<img class="boulderBadge" src="https://i.imgur.com/VmAuxkM.png" />
<img class="cascadeBadge" src="https://i.imgur.com/biMIKIh.png" />
<img class="rainbowBadge" src="https://i.imgur.com/cD04kMe.png" />
<img class="thunderBadge" src="https://i.imgur.com/QJgRCRs.png" />
<img class="heartBadge" src="https://i.imgur.com/ZrJ91GU.png" />
<img class="leafBadge" src="https://i.imgur.com/E3CHai2.png" />
<img class="fireBadge" src="https://i.imgur.com/ixHqRud.png" />
<img class="goldBadge" src="https://i.imgur.com/sIhJCr9.png" />
</div>