<div class="pokemonRowBackdrop"><img src='https://i.imgur.com/R6458d9.png'/></div>
<div><img class="teamIcon" src="{{team.imgUrl}}"></div>

<div class= "pokemonRow">
    {{#each pokemon}}
        <a href='/trainers/{{../trainer._id}}/teams/{{../team._id}}/pokemon/{{_id}}'><img class="pokemonPics" src="{{imgUrl}}"></a>
    {{/each}}
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1>{{team.name}}</h1>
<div>Name: {{team.name}}</div>
<div>Style: {{team.style}}</div>

<form action='/trainers/{{trainerId}}/teams/{{team._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Team'>
</form>
<a href='/trainers/{{trainerId}}/teams/{{team._id}}/edit'>Edit Team</a>
<a href='/trainers/{{trainerId}}/teams'>Go Back to Teams</a>