<div class="badge">
<div class="trainerImage"><img src="{{trainer.imgUrl}}"/></div>
<div>
    
    <div class="trainerInfo">{{trainer.name}}</div>
    <div class="age">{{trainer.age}}</div>
    <div class="gender">{{trainer.gender}}</div>
    <div class="hometown">{{trainer.hometown}}</div>
    <div class="region">{{trainer.region}}</div>
    <div class="team">Teams:</div>
    
</div>

<div class="trainerForm"
<form action='/trainers/{{trainer._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Trainer'>
</form>
<a href='/trainers/{{trainer._id}}/edit'>Edit Trainer</a>
<a href='/trainers'>Go Back to Trainers</a>
</div>
</div>