<div class="badge">
<div class="trainerImage"><img src="{{trainer.imgUrl}}"/></div>
<div>
    
    <div class="trainerInfo">{{trainer.name}}</div>
    <div class="age">{{trainer.age}}</div>
    <div class="gender">{{trainer.gender}}</div>
    <div class="hometown">{{trainer.hometown}}</div>
    <div class="region">{{trainer.region}}</div>

    {{#each teams}}
    <div class="championTeam"><a href="/trainers/{{../trainer._id}}/teams/{{_id}}"><img class="crown" src="{{imgUrl}}"></a></div>
    {{/each}}

    <div class="slotOne"><img src="{{trainer.imgPoke}}"></div>
    <div class="slotTwo"><img src="{{trainer.imgPoke}}"></div>
    <div class="slotThree"><img src="{{trainer.imgPoke}}"></div>
    <div class="slotFour"><img src="{{trainer.imgPoke}}"></div>
    <div class="slotFive"><img src="{{trainer.imgPoke}}"></div>
    <div class="slotSix"><img src="{{trainer.imgPoke}}"></div>
    
</div>

<div class="trainerForm">
<form action='/trainers/{{trainer._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Trainer'>
</form>
<a href='/trainers/{{trainer._id}}/edit'>Edit Trainer</a>
<a href='/trainers'>Go Back to Trainers</a>
</div>
</div>